root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_size = 4
continuation_indent_size = 8
combine_as_imports = true
max_line_length = 100
multi_line_output = 4
quote_type = double

[*.json]
indent_size = 2

[*.yml]
indent_size = 2
